# Ignore .metadata directory and all files under the directory
.metadata/

# Ignore .recommenders directory and all files under the directory
.recommenders/

# Ignore .settings directory
.settings/

# Ignore .classpath directory
.classpath
# ignore .project file
.project

# Ignore bin directory
bin/

# Ignore Target directory produced by Maven
target/

#Ignore below Projects for time being
/BST/
/LinkedList/
/Graphs
/Heaps/
/PeakFinding/
/Recursion/